<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HospitalRecordingSystem.Helpers.Properties.Configuration.ConnectionPath"
            connectionString="Data Source=DESKTOP-HAH52G6\SQLEXPRESS;Initial Catalog=Hospital_Automation;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>